In [18]:
import pandas as pd
import numpy as np

### Julin

* Import the "Tomato.csv" data set from this repository
* Make a new data frame that retains the "trt", "hyp", and "species" columns.
* Now subset the new data frame do that it only has the S. chilense data.
* Calculate the mean of the hyp column separately for the "H" and "L" treatments.

In [3]:
tomato = pd.read_csv("https://raw.githubusercontent.com/UCD-pbio-rclub/python_problems/master/Tomato.csv")
tomato.head()

,shelf,flat,col,row,acs,trt,days,date,hyp,int1,...,petleng,leafleng,leafwid,leafnum,ndvi,lat,lon,alt,species,who
0,Z,1,B,1,LA2580,H,28,5/5/08,19.46,2.37,...,15.78,30.53,34.44,5.0,111,-9.5167,-78.0083,740,S. pennellii,Dan
1,Z,1,C,1,LA1305,H,28,5/5/08,31.28,3.34,...,12.36,22.93,13.99,4.0,120,-13.3833,-75.3583,3360,S. peruvianum,Dan
2,Z,1,D,1,LA1973,H,28,5/5/08,56.65,8.43,...,13.05,46.71,43.78,5.0,110,-16.2333,-71.7000,2585,S. peruvianum,Dan
3,Z,1,E,1,LA2748,H,28,5/5/08,35.18,0.56,...,8.08,26.82,33.28,5.0,105,-20.4833,-69.9833,1020,S. chilense,Dan
4,Z,1,F,1,LA2931,H,28,5/5/08,35.32,0.82,...,7.68,22.40,23.61,5.0,106,-20.9167,-69.0667,2460,S. chilense,Dan

In [16]:
subtomato = tomato[["trt","hyp","species"]]
print(subtomato.head())
print()
# This also works:
print(tomato.loc[:,['trt', 'hyp', 'species']].head())

  trt    hyp        species
0   H  19.46   S. pennellii
1   H  31.28  S. peruvianum
2   H  56.65  S. peruvianum
3   H  35.18    S. chilense
4   H  35.32    S. chilense

  trt    hyp        species
0   H  19.46   S. pennellii
1   H  31.28  S. peruvianum
2   H  56.65  S. peruvianum
3   H  35.18    S. chilense
4   H  35.32    S. chilense

In [6]:
subChile = subtomato[subtomato.species=="S. chilense"]
subChile.head()

   trt    hyp      species
3    H  35.18  S. chilense
4    H  35.32  S. chilense
10   H  28.22  S. chilense
18   H  51.83  S. chilense
19   H  32.94  S. chilense

Base or numpy:

In [11]:
print (subChile[subChile.trt=="H"]["hyp"].mean())

print (subChile[subChile.trt=="L"]["hyp"].mean())

31.52823529411765
37.89361904761905

In [20]:
np.mean(subChile[subChile.trt=="H"]["hyp"])
np.mean(subChile[subChile.trt=="L"]["hyp"])

37.89361904761905

In [34]:
## Dictionary comprehension
{each: subChile[subChile.trt==each]["hyp"].mean() for each in np.unique(subChile.trt)}

{'H': 31.52823529411765, 'L': 37.89361904761905}

In [46]:
## List comprehension
[subChile[subChile.trt==each]["hyp"].mean() for each in np.unique(subChile.trt)]

[31.52823529411765, 37.89361904761905]

In [47]:
## Set comprehension
{np.mean(subChile[subChile.trt==each]["hyp"]) for each in np.unique(subChile.trt)}

{31.52823529411765, 37.89361904761905}

### Min-Yao


* Import the data that we used last week as a DataFrame.
* We want to only focus on wyo_leaf_FPsc samples, so please slice out these samples.
* In addition, assuming that wyo_leaf_FPsc_02_052 is our control sample, we want to only select the genes having expression level > 1 based on their expression level in wyo_leaf_FPsc_02_052. Please slice out a new DataFrame based on these criteria.
* How many genes and samples we have in this new DataFrame?

In [51]:
brapa = pd.read_csv("problemsData/Brapa_cpm.csv")
print(type(brapa))
brapa.head()

<class 'pandas.core.frame.DataFrame'>

,wyo_leaf_FPsc_02_052,wyo_leaf_FPsc_02_064,wyo_leaf_FPsc_02_065,wyo_leaf_FPsc_04_141,wyo_leaf_FPsc_04_170,wyo_leaf_FPsc_04_174,wyo_leaf_FPsc_05_178,wyo_leaf_FPsc_05_181,wyo_leaf_FPsc_05_218,wyo_leaf_FPsc_07_272,...,wyo_leaf_R500_05_213,wyo_leaf_R500_07_266,wyo_leaf_R500_07_269,wyo_leaf_R500_07_278,wyo_leaf_R500_10_406,wyo_leaf_R500_10_424,wyo_leaf_R500_10_432,wyo_leaf_R500_12_485,wyo_leaf_R500_12_504,wyo_leaf_R500_12_513
0,0.767763,0.324099,0.419308,1.130997,0.000000,0.872953,0.000000,0.000000,0.603603,0.000000,...,-0.178038,-0.206271,-0.234504,-0.262736,-0.290969,-0.319201,-0.347434,-0.375667,-0.403899,-0.432132
1,15.512046,12.653405,12.234985,11.924020,16.025326,15.581199,13.297490,12.659967,17.091017,16.619065,...,17.125848,19.666861,15.605980,14.964833,18.584335,20.513813,15.808980,18.992666,17.519853,15.753666
2,0.770761,0.982484,0.733789,0.487179,0.490331,0.736191,0.753390,0.474892,0.305467,0.562337,...,5.216560,7.662596,5.210235,8.325588,7.238362,6.849460,8.640743,8.025718,5.710802,8.206010
3,35.481267,48.769046,44.468335,43.780244,37.906676,36.244005,46.465002,47.776153,49.213257,40.158852,...,35.080533,37.371672,46.622466,47.771217,40.133597,40.503499,46.102438,28.509853,37.889397,40.081839
4,1.228422,2.106640,1.048270,1.454139,0.980662,2.473368,1.045839,1.103139,1.358107,3.481599,...,3.165919,3.574074,1.807563,3.577689,2.997783,2.085844,2.345345,3.174548,3.045761,3.680145

In [88]:
# Focus on wyo_leaf_FPsc samples
import re
list(enumerate(["wyo_leaf_FPsc" in sample for sample in list(brapa.columns)]))
# Only the first 17 samples match the pattern

[(0, True),
 (1, True),
 (2, True),
 (3, True),
 (4, True),
 (5, True),
 (6, True),
 (7, True),
 (8, True),
 (9, True),
 (10, True),
 (11, True),
 (12, True),
 (13, True),
 (14, True),
 (15, True),
 (16, True),
 (17, True),
 (18, False),
 (19, False),
 (20, False),
 (21, False),
 (22, False),
 (23, False),
 (24, False),
 (25, False),
 (26, False),
 (27, False),
 (28, False),
 (29, False),
 (30, False),
 (31, False),
 (32, False),
 (33, False),
 (34, False),
 (35, False)]

In [91]:
brapa.iloc[:,0:17].columns

Index(['wyo_leaf_FPsc_02_052', 'wyo_leaf_FPsc_02_064', 'wyo_leaf_FPsc_02_065',
       'wyo_leaf_FPsc_04_141', 'wyo_leaf_FPsc_04_170', 'wyo_leaf_FPsc_04_174',
       'wyo_leaf_FPsc_05_178', 'wyo_leaf_FPsc_05_181', 'wyo_leaf_FPsc_05_218',
       'wyo_leaf_FPsc_07_272', 'wyo_leaf_FPsc_07_292', 'wyo_leaf_FPsc_07_296',
       'wyo_leaf_FPsc_10_399', 'wyo_leaf_FPsc_10_428', 'wyo_leaf_FPsc_10_435',
       'wyo_leaf_FPsc_12_508', 'wyo_leaf_FPsc_12_517'],
      dtype='object')

In [93]:
subBrapa = brapa.iloc[:,0:17]
subBrapa.head(5)

,wyo_leaf_FPsc_02_052,wyo_leaf_FPsc_02_064,wyo_leaf_FPsc_02_065,wyo_leaf_FPsc_04_141,wyo_leaf_FPsc_04_170,wyo_leaf_FPsc_04_174,wyo_leaf_FPsc_05_178,wyo_leaf_FPsc_05_181,wyo_leaf_FPsc_05_218,wyo_leaf_FPsc_07_272,wyo_leaf_FPsc_07_292,wyo_leaf_FPsc_07_296,wyo_leaf_FPsc_10_399,wyo_leaf_FPsc_10_428,wyo_leaf_FPsc_10_435,wyo_leaf_FPsc_12_508,wyo_leaf_FPsc_12_517
0,0.767763,0.324099,0.419308,1.130997,0.000000,0.872953,0.000000,0.000000,0.603603,0.000000,0.148906,0.302771,0.157520,0.276972,0.000000,0.504064,0.000000
1,15.512046,12.653405,12.234985,11.924020,16.025326,15.581199,13.297490,12.659967,17.091017,16.619065,18.259009,16.139659,13.857280,13.507773,13.775680,15.408758,15.323277
2,0.770761,0.982484,0.733789,0.487179,0.490331,0.736191,0.753390,0.474892,0.305467,0.562337,0.598514,0.306845,0.477273,0.422110,0.737009,0.337412,0.452063
3,35.481267,48.769046,44.468335,43.780244,37.906676,36.244005,46.465002,47.776153,49.213257,40.158852,42.432119,44.930602,35.286235,40.941962,35.568740,31.664813,47.754837
4,1.228422,2.106640,1.048270,1.454139,0.980662,2.473368,1.045839,1.103139,1.358107,3.481599,1.489060,1.816626,2.520322,1.107887,1.160623,1.848236,2.702280

In [110]:
subBrapa_expr = subBrapa[subBrapa.loc[:,"wyo_leaf_FPsc_02_052"] >= 1]

In [111]:
subBrapa_expr.shape

(65, 17)

### Rie

* Import Brapa_cpm.csv dataset that we used last week.
* Extract wyo_leaf_FPsc_04_141,wyo_leaf_FPsc_04_170, wyo_leaf_FPsc_04_174 samples, assuming those samples are biological replicates.
* Make a new data frame (I call it dataA) with these 3 samples. Get averages for each gene. Append the averages to dataA.

,wyo_leaf_FPsc_02_052,wyo_leaf_FPsc_02_064,wyo_leaf_FPsc_02_065,wyo_leaf_FPsc_04_141,wyo_leaf_FPsc_04_170,wyo_leaf_FPsc_04_174,wyo_leaf_FPsc_05_178,wyo_leaf_FPsc_05_181,wyo_leaf_FPsc_05_218,wyo_leaf_FPsc_07_272,...,wyo_leaf_R500_05_213,wyo_leaf_R500_07_266,wyo_leaf_R500_07_269,wyo_leaf_R500_07_278,wyo_leaf_R500_10_406,wyo_leaf_R500_10_424,wyo_leaf_R500_10_432,wyo_leaf_R500_12_485,wyo_leaf_R500_12_504,wyo_leaf_R500_12_513
0,0.767763,0.324099,0.419308,1.130997,0.000000,0.872953,0.000000,0.000000,0.603603,0.000000,...,-0.178038,-0.206271,-0.234504,-0.262736,-0.290969,-0.319201,-0.347434,-0.375667,-0.403899,-0.432132
1,15.512046,12.653405,12.234985,11.924020,16.025326,15.581199,13.297490,12.659967,17.091017,16.619065,...,17.125848,19.666861,15.605980,14.964833,18.584335,20.513813,15.808980,18.992666,17.519853,15.753666
2,0.770761,0.982484,0.733789,0.487179,0.490331,0.736191,0.753390,0.474892,0.305467,0.562337,...,5.216560,7.662596,5.210235,8.325588,7.238362,6.849460,8.640743,8.025718,5.710802,8.206010
3,35.481267,48.769046,44.468335,43.780244,37.906676,36.244005,46.465002,47.776153,49.213257,40.158852,...,35.080533,37.371672,46.622466,47.771217,40.133597,40.503499,46.102438,28.509853,37.889397,40.081839
4,1.228422,2.106640,1.048270,1.454139,0.980662,2.473368,1.045839,1.103139,1.358107,3.481599,...,3.165919,3.574074,1.807563,3.577689,2.997783,2.085844,2.345345,3.174548,3.045761,3.680145

### R

https://github.com/cuttlefishh/python-for-data-analysis/blob/master/assignments/assignment6.md

In [116]:
df=pd.read_table("ftp://ftp.microbio.me/emp/release1/mapping_files/emp_qiime_mapping_subset_2k.tsv",index_col=0)
df.shape

(2000, 75)

In [117]:
df.head(3)

,BarcodeSequence,LinkerPrimerSequence,Description,host_subject_id,study_id,title,principal_investigator,doi,ebi_accession,target_gene,...,adiv_shannon,adiv_faith_pd,temperature_deg_c,ph,salinity_psu,oxygen_mg_per_l,phosphate_umol_per_l,ammonium_umol_per_l,nitrate_umol_per_l,sulfate_umol_per_l
#SampleID,,,,,,,,,,,,,,,,,,,,,
550.L1S116.s.1.sequence,ATGCCTGAGCAG,GTGCCAGCMGCCGCGGTAA,sample_20 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.867414,12.457989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S119.s.1.sequence,CAGCACTAAGCG,GTGCCAGCMGCCGCGGTAA,sample_23 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.265164,10.719448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S164.s.1.sequence,ATGTACGGCGAC,GTGCCAGCMGCCGCGGTAA,sample_73 stool,M3,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.661124,14.214158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__Reading and summarizing__
* Import the tab-separated values file emp_qiime_mapping_subset_2k.tsv as a DataFrame called df with default data types, with the first row as column labels (columns) and the first column as row labels (indexes).
* The indexes should be the sample IDs. How many samples are in this DataFrame? How many metadata columns?
* What are the minimum and maximum pH values in the dataset?
* What are the average and standard deviation temperature values in the dataset?

In [118]:
df.temperature_deg_c.describe()

count    411.000000
mean      18.491088
std       16.672381
min      -15.000000
25%        9.714750
50%       15.240000
75%       20.207798
max       91.000000
Name: temperature_deg_c, dtype: float64

__Indexing, slicing, and writing__
* Make a new Series called temp with the temperature column as its own Series object. Remove NaN values (np.nan) from this Series. How many values are left?
* Make a new DataFrame called df_seqs from columns sequences_split_libraries through observations_deblur_150bp (column positions 17-23) of the existing DataFrame. What is the mean value of column observations_deblur_90bp?

In [123]:
temperature = df.temperature_deg_c[~np.isnan(df.temperature_deg_c)]
print(type(temperature))
temperature.head(3)

<class 'pandas.core.series.Series'>

#SampleID
678.OA.mesocosm.362    11.0
678.OA.mesocosm.376    10.8
678.OA.mesocosm.410    12.1
Name: temperature_deg_c, dtype: float64

In [136]:
df_seqs=df.loc[:,"sequences_split_libraries":"observations_deblur_150bp"]
df_seqs.head()

,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,observations_deblur_100bp,observations_deblur_150bp
#SampleID,,,,,,,
550.L1S116.s.1.sequence,33383,32153,32453,33337,22567,22160,1043
550.L1S119.s.1.sequence,40944,39472,39929,40870,27871,27191,1272
550.L1S164.s.1.sequence,35636,34550,34666,35599,24134,23686,1161
550.L1S194.s.1.sequence,46992,43925,43852,46875,30041,29264,1974
550.L1S20.s.1.sequence,30131,29179,29553,30094,21132,20643,603

In [134]:
df.iloc[:,17:23].head()

,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,observations_deblur_100bp
#SampleID,,,,,,
550.L1S116.s.1.sequence,33383,32153,32453,33337,22567,22160
550.L1S119.s.1.sequence,40944,39472,39929,40870,27871,27191
550.L1S164.s.1.sequence,35636,34550,34666,35599,24134,23686
550.L1S194.s.1.sequence,46992,43925,43852,46875,30041,29264
550.L1S20.s.1.sequence,30131,29179,29553,30094,21132,20643

In [137]:
df_seqs.observations_deblur_90bp.mean()

64789.0535